<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserName" value="Chance"/>
    <add key="Password" value="123456"/>
    
    <!--配置DES中Key和IV-->
    <add key="DesKey" value="Chance"/>
    <add key="DesIV" value="C#"/>
    
    <add key="Assembly" value="DesktopUniversalFrame"/>
    <add key="TargetType" value=""/>
  </appSettings>
  <connectionStrings >
    <add name="connectionStr" connectionString="server=localhost;database=desktopapp;user id=root;pwd=123456;"/>
  </connectionStrings>
</configuration>